/* Свёрстано по макету https://yadi.sk/i/TyMXM1BU3zoTKw
и дроплер, если вдруг яндекс не откроется — https://d.pr/free/i/p9cXtC */

body {
	font-family: 'Montserrat', sans-serif;
	color:black;
	font-size: 23px;
  line-height: 32px;
  margin-left: 40px
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin-top: -4px
}
.logo {
  height: 35px;
  margin-top: 15px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  margin-right: 160px;
}

.navbar-links__item {
  margin-right: 30px
}

.navbar-brand {
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #D0021B;
}

.navbar-brand__primary{
  color: #D0021B;
  text-decoration: none;
  border-bottom: 1px solid #D0021B;
}

.header__contact{
	padding-right: 115px;
	padding-top: 13px;
}


/* Main */

h1 {
  width: 543px;
  height: 275px;
  font-size: 80px;
  font-weight: 900;
  line-height: 83px;
  margin-bottom: 0
}

.introduction {
  display: flex;

}

.introduction__text {
  width: 345px;
  margin-top: -270px;
  margin-left: -30px;
  margin-bottom: 0
}

.main__pic{
  width: 800px;
  object-fit: contain;
  margin-left:174px;
  margin-top: -162px;
}

h2 {
  width: 430px;
  font-size: 40px;
  font-weight: bold;
  line-height: 47px;
  margin-top: 60px
  }

h3 {
  font-size: 25px;
  font-weight: bold;
  margin: 0
}

.container_text{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 20px
}

.text__lead{
  width: 356px;
  height: 357px;
  margin-bottom: 0px;
 
}
.text__aside{
  width: 483px; 
  margin-top: -170px;
  padding: 5px 20px 0px 30px;
  border-style: dashed;
  border-radius: 10px;
  border-color: #d0021b;
  margin-right: 182px
}


/* Footer */

.footer {
  display: flex;
  padding: 0px 0px 40px 0px;
}

.footer_text {
  font-size: 16px;
  line-height: 21px;
  margin-right: 45px;
}

span {
  color:#D0021B;
  text-decoration: underline;
}

