
/* Свёрстано по макету https://yadi.sk/i/mm6tl7BhUXGWGA */

body {
  font: 23px 'Montserrat', sans-serif;
  color: black;
  line-height: 32px;
  margin-left: 40px
}

p {
  margin-top: 6px;
  margin-bottom: 6px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  margin-top: -4px
}

.logo {
  height: 36px;
  width: 207px;
  margin-top: 15px;
}

.navbar-links {
  list-style-type: none;
  display: flex;
  margin-right: 167px;
}

.navbar-links__item {
  margin-right: 30px
}

.navbar-brand {
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #D0021B;
}

.navbar-brand__current {
  color: #D0021B;
  text-decoration: none;
  border-bottom: 1px solid #D0021B;
}

.header__contact {
  padding-right: 113px;
  padding-top: 16px;
}

/* fisrt block */
.introduction__section {
  display: flex;
  align-items: flex-end;
  margin-bottom: 58px;
}

h1 {
  font-size: 80px;
  font-weight: 900;
  line-height: 83px;
  margin-bottom: 0;
  padding-top: 8px;
}

.introduction__text {
  width: 340px;
  margin-top: 25px;
}

.main__pic{
  margin: 0px 0px -5px -43px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 47px;
  margin: 0 0 20px;
  }

h3 {
  font-size: 25px;
  font-weight: bold;
  padding-top: 0px;
  margin:0;
}

/*second block*/
.lack-of-training {
  display: flex;
  margin-bottom: 80px;
}

.lack-of-training__text {
  width: 400px;
}

.how-to-start__text {
  width: 485px; 
  padding: 33px 25px 38px 25px;
  border-radius: 10px;
  border: dashed #d0021b 2px;
  align-self: center;
  margin-left: 57px;
}

.how-to-start__paragraph {
  margin-bottom: 0px;
  padding-top: 5px;
}

/*third block*/
.wrong-technique {
  height: 795px;
  margin-bottom: 50px;
}

.wrong-technique__lead {
  width: 410px;
  margin-bottom: 70px;
  margin-top: -13px;
}

.second-block {
  display: flex;
}

.what-to-do__text {
  width: 480px;
  padding: 6px 0px 0px;
}

.lack-of-training__wave {
  margin-left: -30px;
  margin-top: -92px;
  position: absolute;
  z-index: -1;
}

.lack-of-training__man {
  position: absolute;
  right: 40px;
  top: -420px;
}

/* У всех элементов фактоида разное оформление шрифта — поэтому пришлось делать отдельно.
Больше не буду так делать в макетах :( */
.factoid {
  position: relative;
  margin-left: 335px;
  margin-top: 75px;
  line-height: 28px;
}

.factoid__time {
  font-size: 50px;
  font-weight: bold;
  color: #D0021B;
}

.factoid__number {
  font-size: 70px;
  font-weight: 600;
  color:#D0021B;
  padding-right: 10px;
}

.factoid__text {
  padding-top: 10px;
  margin-left: 5px;
}

/* Footer */
.footer {
  display: flex;
  font-size: 16px;
  line-height: 21px;
  padding-bottom: 60px;
}

.footer__left {
  margin-right: 30px;
}

.mailto {
  color:#D0021B;
  text-decoration: underline;
}

